.header {
    height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header_svg {
    position: absolute;
    z-index: -1;
    bottom: 20px;
}
.header_all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_all-left {
    display: flex;
    flex-direction: column;
}
.svg-1 {
    display: flex;
}
.svg-2 {
    display: none;
}

.header_all-left-btn {
    display: inline-flex;
    max-width: 275px;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 59px;
    background:  #4F7A28;
    color:  #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    transition: all .3s;
}
.header_all-left-btn:hover {
    transform: scale(1.02);
}
.header_all-right {
    width: 91%;
}
.header_all-right img{
    width: 100%;
}
.header_bot  {
    border-radius: 88px;
    background: #FFF;
    display: flex;
    padding: 16px 24px;
    align-items: center;
    max-width: 202px;
    margin: 0 auto;
    margin-bottom: 20px;
    gap: 8px;
    box-shadow: 0px 0px 2px 0px rgba(14, 31, 53, 0.12);
}
.header_bot-left span{
    border-right: 1px solid #7D7E7F;
    padding-right: 8px;
    font-family: "El Messiri";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 80%;
}
.header_bot-right {
}
.stars {
    display: flex;
    align-self: center;
}
.header_bot-right-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}

/* ------------------  SERVICES ------------------ */
.services    {
    margin-top: 80px;
}
.services_item {
    background: #F9F9F9;
    display: flex;
    gap: 35px;
    padding: 40px 40px 24px 40px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
}
.services_item-one {
    border-radius: 261px 24px 24px 24px;
}
.services_item-two   {
    border-radius: 24px;
}
.services_item-three   {
    border-radius: 24px;
}
.services_item-right {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services_item-right-bot {
}
.services_item-right-bot-top {
    display: flex;
    align-items: center;
    gap: 40px;
}
.services_item-right-bot-left {
    display: flex;
    align-items: start;
    gap: 8px;
}
.services_item-right-bot-left-title {
    color:  #4F7A28;
    text-align: center;
    font-family: "El Messiri";
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.services_item-right-bot-left-span {
    color: #F46A6A;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    
}
.services_item-right-bot-left-btn {
    border-radius: 59px;
    background:  #4F7A28;
    display: flex;
    color: #FFF;
    text-align: center;
    height: 56px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all .3s;
}
.services_item-right-bot-left-btn:hover {
    transform: scale(1.03);
}
.services_item-right-bot-grey {
    margin-top: 16px;
    color: #7D7E7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.services_item-right-span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-top: 3px;
    margin-bottom: 46px;
}
.services_item-right-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.services_item-right-item {
    display: flex;
    align-items: center;
    gap: 16px;
}
.services_item-right-item p{
    max-width: 269px;
}
.services_item-left{
    width: 53%;
}
/* ------------------  /SERVICES ------------------ */

/* ------------------  CHOOSE ------------------ */
.choose {
    background: url(../img/fonChose.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 140px;
    padding-bottom: 180px;
}
.choose_list {
    margin-top: 80px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.choose_item {
    max-width: 255px;
}
.choose_item-text {
    margin-top: 24px;
    
    text-align: center;
}
.choose_item-text-2 {
    color:  #7D7E7F;
    text-align: center;
    font-size: 16px;
    margin-top: 9px;
}
/* ------------------  /CHOOSE ------------------ */
/* ------------------  Reviews ------------------ */
.Reviews     {
    margin-top: 60px;
    padding-bottom: 160px;
}
.Reviews_top {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 40px;
}
.Reviews_top-left{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.Reviews_top-left-all {
    display: flex;
    align-items: center; 
    gap: 16px;
}
.Reviews_top-left-title     {
    color: #3A3531;
    font-size: 21px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
}
.Reviews_top-left-text    {
    color: #7D7E7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.Reviews_top-right {
    display: flex;
    align-items: center;
    gap: 24px;
}
.Reviews_top-right-left {
    display: flex;
    align-items: center;

}
.Reviews_top-right-text {
    font-size: 21px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; 
}
.Reviews_top-right-span {
    color: #7D7E7F;
    font-size: 16px;
    margin-top: 4px;
    margin-left: 3px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}
.Reviews_top-right-right {
    display: flex;
    align-items: center;


}
.Reviews_item {
    /* max-width: 350px; */
    /* width: 100%;
    height: 246px; */
    padding: 40px;
    border-radius: 24px;
    background: #F9F9F9;
    box-shadow: 0px 1px 4px 0px rgba(14, 31, 53, 0.06);
}
.Reviews_item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.Reviews_item-top-left-all-text {
    color:  #3A3531;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; 
}
.Reviews_item-top-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.Reviews_item-top-right {
    position: relative;
}

.Reviews_item-top-right p {
    color:  #4F7A28;
    text-align: center;
    font-family: "El Messiri";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.Reviews_item-top-right::after {
    content: '';
    /* width: 145%;
    height: 254%; */
    max-width: 111px;
    max-height: 38px;
    width: 116px;
    height: 54px;
    position: absolute;
    top: -13px;
    left: -17px;
    border-radius: 80%;

    border: 1px solid #4F7A28;
    transform: rotate(-10deg);
}
.Reviews_item-top-right-lazer {
    padding-right: 20px;
}
.Reviews_item-top-right-lazer::after {
    padding-right: 20px;
    left: -36px;
}
.Reviews_item-top-right--active::after {
    background-color: #4F7A28;
   
}
.Reviews_item-top-right--active p{
    color: white;
    position: relative;
    z-index: 2;
}
.stars {
    margin-bottom: 4px;
}

.Reviews_item-mid-text {
    overflow: hidden;
    color:  #3A3531;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: italic;
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 300;
    line-height: 100%;
    height: 64px;
}
.height {
    height: 128px;
}
.Reviews_item-btn {
    color:  #4F7A28;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; 
}
.mySwiper {
    padding-bottom: 64px!important;
}
.Reviews-pagination {
    color:  #7D7E7F!important;
    text-align: center;
    font-family: "El Messiri";
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -3px!important;

}
.swiper-wrapper-Reviews {
    padding-bottom: 58px;
}
.swiper-scrollbar-Reviews {
    opacity: 1!important;
    max-width: 50px!important;
    left: 50%!important;
    bottom: 0px!important;
    transform: translateX(-50%)!important;
}
.swiper-but-prev, .swiper-but-next {
    border-radius: 50px;
    position: absolute;
    border: 1px solid  #7D7E7F;
    display: flex;
    width: 64px;
    height: 64px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 99;
}
.swiper-but-prev {
    left: 37%;
}
.swiper-but-next {
    right: 37%;

}
/* ------------------  /Reviews ------------------ */

/* ------------------  RADIO ------------------ */
  /* для элемента input c type="radio" */
  .radio {
    position: relative;
    /* width: 24px; */

  }
  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label связанного с .custom-radio */
  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  .custom-radio+label::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 7px;
    /* transform: translateX(-50%); */
  }

  /* стили при наведении курсора на радио */
  .custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #4F7A28;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active+label::before {
    background-color: #4F7A28;
    border-color: #4F7A28;
  }


  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio:focus:not(:checked)+label::before {
    border-color: #4F7A28;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked+label::before {
    border-color: #4F7A28;
    background-color: #4F7A28;
    
  }
  .custom-radio:checked+label::after {
    background-color: #fff;
    
  }

  /* стили для радиокнопки, находящейся в состоянии disabled */
  .custom-radio:disabled+label::before {
    background-color: #efefe9;
  }

    .radio {
      margin-bottom: 0.4em;
    }
    .radio label {
    color: #3A3531;
    font-family: "El Messiri";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    }
/* ------------------  /RADIO ------------------ */



/* ------------------  galery------------------ */
.galery {
    padding-bottom: 160px;
}
.galery_top  {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 24px;
}
.img-studia-all {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.img-studia-all-2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.img-studia-item-five {
    margin-top: -80px;
}
.studia-block-none {
    display: none;
}
/* .fancybox__content {
    width: 60vw!important;
    height: 100vh!important;
}
.fancybox-image {
    object-fit: cover!important;
} */
/* ------------------  /galery ------------------ */
/* ------------------  modal ------------------ */
.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    display: none;
}
.modal_top {
    background-color: #fff;
    padding:  25px 50px;
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
}
.modal--active {
    display: flex;
}
.modal_top-close {
    background-color: #F5F5F5;
    border-radius: 50px;
    padding: 16px;
    width: 56px;
    height: 56px;
    cursor: pointer;
}
.mb {
    margin-bottom: 40px;
}
.text_black-max {
    max-width: 540px;
}
/* ------------------  /modal ------------------ */

@media(max-width:1366px) {
    .text_black {
        color: #3A3531;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
    .services_item-right-item svg{
        width: 29px;
        height: 29px;
    }
    .services_item-right-bot-left-title {
        font-size: 36px;
    }
    .services_item-right-bot-left-span {
        font-size: 22px;
    }
    .radio label {
        font-size: 26px;
    }
}
@media(max-width:1024px) {
    .header_all-right {
        width: 82%;
    }
    .title-1 {
        font-size: 75px;
    }
    .text_grey {
        margin-bottom: 32px;
        margin-top: 25px;
        font-size: 20px;
    }
    .services_item-right-bot-left-title {
        font-size: 32px;
    }
    .services_item-right-bot-left-span {
        font-size: 19px;
    }
    .text_black {
        font-size: 16px;

    }
    .services_item-right-item svg {
        width: 26px;
        height: 26px;
    }
    .services_item-right-bot-left-btn {
        border-radius: 59px;
        height: 50px;
        font-size: 16px;

        padding: 14px 26px;
    }
    .title-3 {

        font-size: 34px;

    }
    .title-2 {
        font-size: 44px;

    }

}
@media(max-width:768px) {
    .title-1 {
        font-size: 38px;
    }
    .header_svg {
        bottom: auto;
        top: 290px;
    }
    .header_all {
        flex-direction: column;
    }
    .header_all-right {
        order: 1;
        width: 100%;
        margin-bottom: 60px;
    }
    .header_all-left {
        order: 2;
    }
    .services_item {
        flex-direction: column;
        gap: 20px;
    }
    .services_item-left {
        width: 100%;
    }
    .services_item-right {
        width: 100%;
    }
    .services_item-one {
        border-radius: 261px 261px 24px 24px;
    }
    .title-3 {
        font-size: 28px;
    }
    .services_item-right-span {

        margin-bottom: 22px;
    }
    .services_item-right-item svg {
        width: 32px;
        height: 32px;
    }
    .services_item-right-bot-top {
        flex-direction: column;
        margin-top: 15px;
        gap: 8px;
    }
    .services_item-right-bot-left-title {
        font-size: 28px;
    }
    .services_item-right-bot-left-span {
        font-size: 18px;
    }
    .services_item-right-bot-left-btn {
        width: 100%;
    }
    .choose {
        background: url(../img/fonChoose2.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 110px;
        padding-bottom: 101px;
    }
    .mb {
        margin-bottom: 24px;
    }
    .title-2 {
        font-size: 32px;
    }
    .choose_list {
        flex-direction: column;
    }
    .choose_item {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .choose_item img {
        max-width: 150px;
    }
    .choose_list {
        margin-top: 40px;
    }
    .choose_item-text {
        margin-top: 0;
        width: 100%;
        max-width: 200px;

    }
    .choose_item-text-2 {
        width: 100%;
        font-size: 14px;
        max-width: 200px;

    }
    .choose_item {
        max-width: 400px;
    }
    .choose_item-right {
        max-width: 200px;
        width: 100%;
    }
    .choose_item-two img{
        order: 2;
    }
    .Reviews_top-right {
        display: none;
    }
    .Reviews_top {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .swiper-wrapper-Reviews {
        padding-bottom: 30px;
    }
    .Reviews {
        margin-top: 60px;
        padding-bottom: 100px;
    }
    .swiper-but-next {
        right: 20%;
    }
    .swiper-but-prev {
        left: 20%;
    }
    .Reviews_item-mid-text {
        overflow: hidden;
        color: #3A3531;
        text-overflow: ellipsis;
        font-size: 14px;
        font-style: italic;
        margin-top: 32px;
        margin-bottom: 16px;
        font-weight: 300;
        line-height: 100%;
        height: 58px;
    }
    .Reviews-pagination {
        color: #7D7E7F !important;
        text-align: center;
        font-family: "El Messiri";
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 10px;
        letter-spacing: -3px !important;
    }
    .height {
        height: 100px;
    }
    .Reviews_item {
        /* max-width: 350px; */
        padding: 22px;
    }
    .galery_top {
        flex-direction: column;
        font-size: 16px;
    }
    .radio label {
        font-size: 18px;
    }
    .img-studia-item-five {
        margin-top: -40px;
    }
    .img-studia-item-six img{
        height: 100%;
    }
    .img-studia-all {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 20px;
    }
    .img-studia-all-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 20px;
    }
    .img-studia-item:nth-child(1) {
        order: 1;
    }
    .img-studia-item:nth-child(2) {
        order: 2;
    }
    .img-studia-item:nth-child(5) {
        order: 4;
    }
    .img-studia-item:nth-child(3) {
        order: 5;
    }
    .img-studia-item:nth-child(6) {
        order: 6;
    }
    .img-studia-item:nth-child(4) {
        order: 3;
    }
    .studia-block-none {
        display: none;
    }
    
    .header_all-right {
        margin-top: 30px;
    }
    .header_all-left-btn {
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .header {
        height: 100%;
    }
    .galery_top {
        display: flex;
        margin-top: 24px;
        margin-bottom: 40px;
        gap: 16px;
    }
}
@media(max-width:450px) {
    .svg-1 {
        display: none;
    }
    .svg-2 {
        display: flex;
    }
}